:root {
  --primary-white: #fff;
}

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

  body {
    /* font-family: "Roboto Condensed" sans-serif; */
  }
  /* ***************** NAVBAR ***************************  */
/* NinjaUnits source to convert pixels to rem */
  .logo {
    width: 16.25 rem;
  }

   /* ***************** Menu Links ***************************  */

   nav a.nav-link{
     letter-spacing: 0.0375rem;
     cursor: pointer;
   }
  
   nav ul li {
     text-transform: uppercase;
   }

   .navbar-nav > li > a {
     margin-right: 0.75rem;
     margin-left: 0.75rem;
     color:var(--primary-white) !important;
   }
   .navbar-brand{
     /* max-width: 17.25rem; */
     /* padding: 0 !important; */
     /* height: 6rem !important; */
   }