:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-gray: #ccd1d9;
  --primary-dark-gray: #666667;
}

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

  body {
    font-family: "Roboto Condensed" sans-serif !important;
  }
  /* ***************** NAVBAR ***************************  */
/* NinjaUnits source to convert pixels to rem */
  .logo {
    width: 16.25 rem;
  }

  nav {
    z-index: 2;
  }
   /* ***************** Menu Links ***************************  */

   nav a.nav-link{
     letter-spacing: 0.0375rem;
     cursor: pointer;
   }
  
   nav ul li {
     text-transform: uppercase;
   }

   .navbar-nav > li > a {
     margin-right: 0.75rem;
     margin-left: 0.75rem;
     color:var(--primary-white) !important;
     /* border top prevents navbar from increasing in size on hover for orange color */
     border-top: 0.1875rem solid var(--primary-dark)
   }
   

   @media(max-width: 768px){
    .navbar-nav{
      font-size: 1.0rem !important;
      
    }
    .navbar-brand{
      font-size: 1.2rem !important;
    }
   }
   /* .navbar-brand {
     max-width: 17.25rem;
     padding: 0 !important;
     height: 6rem !important;
   } */
   /* active is a bootstrap class, below changes color of border of item selected */
   .navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
    
      border-top: 0.1875rem solid var(--primary-orange);
   }
   
   /* makes orange border appear on hover as well */
   .navbar-nav > li > a:hover{
    
    border-top: 0.1875rem solid var(--primary-orange);
 }

 /* ***************** HEADER ***************************  */

 .header-wrapper{
   position: relative;
   background: url(cliffsOfMoher.jpg) no-repeat;
   background-size:cover; 
   background-position: center;
   height:100vh;
 }

 /* @media(max-width: 768px){
  .header-wrapper{
    background-size:cover; 
    background-position: center;
    
  }
} */

 .main-info{
   display: flex;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   text-align:center;
  /* z index at 1 puts the button above the background particles, without z index, can't click button */
   z-index: 1;
 }
 .main-info h1{
  color: var(--primary-white);
  text-transform: uppercase;
 }

 @media(max-width: 768px){
  .main-info h1{
    font-size: 1.7rem !important;
  }
  /* .main-info{
    width:7;
  } */
 }

  /* ***************** Typed Text ***************************  */
  .typed-text{
    font-size: 2rem;
    color: var(--primary-white);
    
  }
  @media(max-width: 768px){
    .typed-text{
      font-size: 1.0rem !important;
    }
   }


    /* ***************** Header Main Info Button ***************************  */
  .btn-main-info{
    border: 0.0625rem solid var(--primary-red);
    color: var(--primary-white);
    border-radius: 0;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    margin: 2rem;
  }

  .btn-main-info:hover {
    text-decoration:none;
    background-color: var(--primary-hover-red);
    color: var(--primary-white);
    transition: .2s ease-in-out;
  }  

      /* ***************** Particles***************************  */
  .tsparticles-canvas-el {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
  }

  @media(max-width: 768px){
    .particles-canvas{
      display:none;
    }
  }

   /* ***************** ABOUT ME ***************************  */

   .photo-wrap {
     display:flex;
     justify-content:center;
     align-items:center;
   }
   .profile-img {
     width: 16rem;
     border-radius: 50%;
     padding: 0.3rem;
     border:1px solid var(--primary-orange)
   }

   .about-heading{
     color: var(--primary-orange);
     text-transform: uppercase;
   }
   @media(max-width: 468px){
    .profile-img{
      width:10rem;
    }
  }

   /* ***************** EXPERIENCE ***************************  */
   .experience{
     padding: 0.7rem;
   }
   .experience-wrapper{
      position: relative;
      padding: 3.125rem;
      overflow: hidden;
   }

   .experience h1 {
     text-transform:uppercase;
     color: var(--primary-orange);
   }

   .experience-wrapper::before {
     position: absolute;
     content: "";
     top: 0;
     left: 50%;
     margin-left: -0.0625rem;
     width:0.125rem;
     height: 100%;
     background:var(--primary-gray);
     z-index: 1;
   }
   .timeline-block{
     width: calc(50% + 0.5rem);
     display: flex;
     justify-content:space-between;
     clear:both;
   }

   .timeline-block-right{
    float:right;
   }

   .timeline-block-left{
     float:left;
     direction: rtl;
   }

   .marker{
     width: 1rem;
     height: 1rem;
     border-radius:50%;
     border: 0.3125rem solid var(--primary-dark-gray);
     /* border: 0.3125rem solid var(-); */
     background: var(--primary-orange);
     margin-top: 0.625rem;
     z-index: 3;
   }

   .timeline-content{
     width: 95%;
     padding: 0 0.9375rem;
     color: var(--primary-dark-gray);
     direction: ltr;
   }

   .timeline-content h3{
     margin-top: 0.3125rem;
     color: var(--primary-red);
   }


   /* ***************** EXPERIENCE MEDIA ***************************  */
   @media(max-width:758px){
     .experience .container{
       padding-left:0;
     }
     .experience-wrapper::before{
       left:0.5rem;
       margin-bottom:1.875rem;
     }
     .timeline-block-right{
       float:none;
       width:100%;
     }
     .timeline-block-left{
      float:none;
      direction: ltr;
      width:100%;
    }
   }